@import "tailwindcss";

@import "./base.css";
@import "./theme.css";
@import "./components.css";

@import "@fortawesome/fontawesome-free/css/all.min.css";

@plugin "./plugin/custom.ts";

:root {
    --background: #F7F6F1;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*--background: #0a0a0a;*/
        /*--foreground: #ededed;*/
    }
}

* {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Unbounded, Montserrat, sans-serif;
}

body.dark {
    --color-white: #fff;
    --color-dark-white: #0B0C0C;
    --color-black: #000;
    --color-black-2: #1E1F1F;
    --color-title: #fff;
    --color-title-opc: 255, 255, 255;
    --color-text: #B5B5B5;
    --color-text-opc: 255, 255, 255;

    /* Theme Colors */
    --color-primary-2: #fff;
    --color-primary-2-opc: 255, 255, 255;

    /* Borders */
    --color-border: #5e5a5a6e;
    --color-border-2: #B5B5B5;

    background-color: #121212;
}
